[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
cryptography = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-mysqldb = "*"
flask-mysql = "*"
mysql-connector = "*"
mysql-connector-python = "*"
mysql-connector-python-rf = "*"

[dev-packages]

[requires]
python_version = "3.8"
