@media (max-width: 615px){
    .menu {
        width: 100vw;
    }

    .blog-container > .blog-content {
        flex-direction: column;
    }
    .home-content-wrapper > .blog-container > .blog-content > .blog-image > img{
        width: 100vw;
        max-height: 400px;
        margin-right: -15px;
    }

    .right-blog-container > .right-blog-content {
        flex-direction: column;
    }

    .right-home-content-wrapper > .right-blog-container > .right-blog-content > .right-blog-image > img{
        width: 100vw;
        max-height: 400px;
        margin-right: -15px;
    }

    .class-item-wrapper{
        font-size: 0.5em;
        overflow-y: none;
    }

    .submit-form{
        font-size: 0.5em;
    }

    
}